<div class="display-flex justify-content-space-around flex-wrap-wrap padding-s margin-m hour-display-border">
    <span class="width-150-px text-align-center padding-s"><b>Service</b>: {{serviceHours}}</span>
    <span class="width-150-px text-align-center padding-s"><b>Non Service</b>: {{nonServiceHours}}</span>
    <span class="width-150-px text-align-center padding-s"><b>Time Off</b>: {{timeOffHours}}</span>
    <span class="width-150-px text-align-center padding-s"><b>Total Hours</b>: {{totalHours}}</span>
</div>
