<div
    class="margin-m padding-xl mat-card display-flex jutify-content-center align-items-center flex-direction-column flex-wrap-wrap">
    <mat-form-field class="width-100-percent">
        <mat-label>SR Number</mat-label>
        <mat-select [disabled]="!isNew" [(value)]="selectedSRNumber">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sRNumber of sRNumbers" [value]="sRNumber.value">
                {{sRNumber.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="width-100-percent">
        <mat-label>Task Type</mat-label>
        <mat-select [(value)]="selectedTaskType">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let taskType of taskTypes" [value]="taskType.value">
                {{taskType.value}}
            </mat-option>
            <mat-option *ngIf="selectedSRNumber === 'Non Service'" value="Time Off">
                Time Off
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field class="width-100-percent">
        <mat-label>Delivery Type</mat-label>
        <mat-select [disabled]="selectedTaskType === 'Time Off'" [(value)]="selectedDeliveryType">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let deliveryType of deliveryTypes" [value]="deliveryType.value">
                {{deliveryType.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <div class="width-100-percent">
        <div style="width:100%" class="display-flex justify-content-space-between align-items-center">
            <div class="display-flex align-items-center">
                <mat-icon>access_time</mat-icon><span> Time</span>
            </div>
            <div>{{time}}</div>
        </div>
        <div style="width:100%">
            <mat-slider color="primary" style="width:100%" class="example-margin" [max]="24" [min]="0" [step]=".25"
                [thumbLabel]="true" [(ngModel)]="time">
            </mat-slider>
        </div>
    </div>

    <div class="width-100-percent">
        <mat-form-field style="width:100%" class="example-form-field">
            <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="10" placeholder="Note" [(ngModel)]="noteValue"></textarea>
            <button mat-button *ngIf="noteValue" matSuffix mat-icon-button aria-label="Clear" (click)="noteValue=''">
                <mat-icon color="primary">delete</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="width-100-percent display-flex justify-content-center">
        <button (click)="saveItemById(id)" class="margin-s" mat-raised-button color="primary">
            Save
        </button>

        <button (click)="deleteItemById(id)" class="margin-s" mat-raised-button color="primary">
            Delete
        </button>

    </div>
</div>
